*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
html {
    scroll-behavior: smooth;
  }
.container{
    position: relative;
    width: 100%;
    height: 100vh;
    scroll-snap-type: y mandatory;
    overflow: auto;
}
.container .section{
    position: relative;
    width: 100%;
    height: 100%;
    scroll-snap-align: start;
    transition: 0.5s all;
}
.container .section:nth-child(1){
background-attachment: fixed;
background-image: linear-gradient(to right, rgba(242, 109, 131, 0.6), rgba(109, 179, 242, .6)), url('../images/bg_1.jpg');
background-size: cover;
background-position: center 100% 100%;
background-repeat: no-repeat;
}
.container .section:nth-child(2){
    background-attachment: fixed;
    background-image: linear-gradient(to right, rgba(98, 161, 16, 0.6), rgba(109, 179, 242, .6)), url('../images/bg_2.jpg');
    background-size: cover;
    background-position: center 100% 100%;
    background-repeat: no-repeat;
}
.container .section:nth-child(3){
    background-attachment: fixed;
    background-image: linear-gradient(to right, rgba(185, 197, 9, 0.6), rgba(109, 179, 242, .6)), url('../images/bg_3.jpg');
    background-size: cover;
    background-position: center 100% 100%;
    background-repeat: no-repeat;
}
.container .section:nth-child(4){
    background-attachment: fixed;
    background-image: linear-gradient(to right, rgba(19, 159, 194, 0.596), rgba(115, 112, 160, 0.6)), url('../images/bg_4.jpg');
    background-size: cover;
    background-position: center 100% 100%;
    background-repeat: no-repeat;
    }
    .container .section:nth-child(5){
        background-attachment: fixed;
        background-image: linear-gradient(to right, rgba(218, 26, 42, 0.6), rgba(109, 179, 242, .6)), url('../images/bg_5.jpg');
        background-size: cover;
        background-position: center 100% 100%;
        background-repeat: no-repeat;
    }
    .container .section:nth-child(6){
        background-attachment: fixed;
        background-image: linear-gradient(to right, rgba(216, 22, 206, 0.6), rgba(109, 179, 242, .6)), url('../images/bg_6.jpg');
        background-size: cover;
        background-position: center 100% 100%;
        background-repeat: no-repeat;
    }
.container .section .content{
    position: absolute;
    margin: auto 0;
    left: 10px;
    bottom: 20px;
    right: 10px;
    max-width: 700px;
    max-height: 450px;
}
.container .section .content h2{
    background-color: #fff;
    color: #111;
    font-weight: 600;
    display: inline-block;
    padding: 10px 20px;
    font-size: 2rem;
}
.container .section .content p{
    background-color: #fff;
    color: #111;
    font-weight: 300;
    padding: 10px 20px;
    margin-top: 10px;
}
